.page {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 14px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%; // stylelint-disable-line  property-no-vendor-prefix

  @include desktop {
    font-size: 16px;
  }

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__content {
    flex: 1 0 auto;
  }

  &__footer-wrapper {
    flex: 0 0 auto;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
